* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*------COLOR VARIABLES-----*/
/*------MY CSS-----*/
body {
  background: url(img/bg-gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #3B3B3B;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/*------HEADER------*/
#head {
  background-color: transparent;
  padding: .3% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

#h1 {
  color: #e3e0f3;
  margin: 0;
  font-size: 3em;
}

/*------HEAD-DIV_SEARCH------*/
#head .head-div_search {
  padding: 1.5% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 23%;
  text-align: center;
}

/*-------SEARCH-BUTTON-------*/
#head .head-div_search #search {
  background: linear-gradient(-45deg, #340194, #9f69fe, #09ce8f);
  border: none;
  background-size: 800% 400%;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin-right: 3.5%;
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
          animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#head .head-div_search #search:hover {
  -webkit-animation: gradient 3s infinite;
          animation: gradient 3s infinite;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

button:active {
  -webkit-animation: gradient 3s infinite;
          animation: gradient 3s infinite;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*------SEARCH_BAR-------*/
#head .head-div_search #searchbar {
  border: none;
  border-radius: 10px;
  padding-left: 4%;
  font-size: 1em;
  color: #868686;
  background-color: #e3e0f3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*---------HEAD-DIV_MENU--------*/
#head .head-div_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  text-align: center;
}

/*------UL-----*/
#head .head-div_menu .menu {
  display: inherit;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*------LI-----*/
#head .head-div_menu .menu li {
  padding: 1% 2%;
  border: 1px solid #e3e0f3;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#head .head-div_menu .menu li:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: 400ms;
  transition: 400ms;
  background: linear-gradient(-45deg, #340194, #9f69fe, #09ce8f);
  border: none;
}

/*-----A-----*/
#head .head-div_menu .menu li a {
  color: #e3e0f3;
  font-size: 1.3em;
}

/*---------MAIN----------*/
#main {
  padding: 25% 5% 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 10px solid red;
}

/*-----FLEX_CONTAINER------*/
#main .container {
  display: inherit;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

/*--------IMG_CONTAINER-------*/
#main .container .div_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 100%;
  border: 1px solid #141414;
  position: relative;
}

#main .container .div_img img {
  width: 100%;
  image-rendering: optimizeQuality;
  cursor: pointer;
}

/*-----------SPAN-------*/
#main .container .div_img .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: rgba(59, 59, 59, 0.68);
  color: #e3e0f3;
  width: 100%;
  height: 9%;
  bottom: 0;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1em;
  font-weight: bold;
  visibility: hidden;
  margin-bottom: -3%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#main .container .div_img:hover .title {
  visibility: visible;
  margin: 0;
  opacity: .77;
  text-shadow: 3.5px 3.5px 8.2px rgba(227, 224, 243, 0.038), 9.8px 9.8px 22.5px rgba(227, 224, 243, 0.055), 23.5px 23.5px 54.3px rgba(227, 224, 243, 0.072), 78px 78px 180px rgba(227, 224, 243, 0.11);
}
/*# sourceMappingURL=style.css.map */