@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600;700&display=swap");
/*------COLOR VARIABLES-----*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-color: #09ce8f;
}

/*------MY CSS-----*/
body {
  background: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: #3B3B3B;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h2 {
  color: #1f1f1f;
  font-size: 2.5em;
}

p {
  color: #1f1f1f;
  font-size: 1.25em;
}

/*------HEADER------*/
#head {
  background-color: #03a773;
  padding: .3% 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*position: fixed;
    top: 0;
    left: 0;
    z-index: 1;*/
}

#h1 {
  color: #e3e0f3;
  margin: 0;
  font-size: 3em;
}

/*------HEAD-DIV_SEARCH------*/
#head .head-div_search {
  padding: 1.5% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 23%;
  text-align: center;
}

/*-------SEARCH-BUTTON-------*/
#head .head-div_search #search {
  background: linear-gradient(-45deg, #340194, #9f69fe, #09ce8f);
  border: none;
  background-size: 800% 400%;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  margin-right: 3.5%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
          animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#head .head-div_search #search:hover {
  -webkit-animation: gradient 3s infinite;
          animation: gradient 3s infinite;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

button:active {
  -webkit-animation: gradient 3s infinite;
          animation: gradient 3s infinite;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*------SEARCH_BAR-------*/
#head .head-div_search #searchbar {
  border: none;
  border-radius: 10px;
  padding-left: 4%;
  font-size: 1em;
  color: #868686;
  background-color: #e3e0f3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*---------HEAD-DIV_MENU--------*/
#head .head-div_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  text-align: center;
}

/*------UL-----*/
#head .head-div_menu .menu {
  display: inherit;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*------LI-----*/
#head .head-div_menu .menu li {
  padding: 1% 2%;
  border: 1px solid #e3e0f3;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#head .head-div_menu .menu li:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: 400ms;
  transition: 400ms;
  background: linear-gradient(-45deg, #340194, #9f69fe, #09ce8f);
  border: none;
}

/*-----A-----*/
#head .head-div_menu .menu li a {
  color: #e3e0f3;
  font-size: 1.15em;
}

/*---------MAIN----------*/
#main {
  /*padding: 0% 0% 5% 0%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  /* border: 2px solid green;*/
}

/*--------SECTION---------*/
#main .welcome {
  background-color: #03a773;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2%;
  position: relative;
}

#main .welcome h2 {
  margin-top: 5%;
}

#main .welcome h2,
#main .welcome p {
  /*outline: solid green;*/
  color: #e3e0f3;
  z-index: 1;
}

#main .welcome svg {
  position: absolute;
  bottom: 0;
}

/* ---------- DIV-FLEX ----------- */
#main .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 100%;
  margin: auto;
  padding: .15%;
  -webkit-box-shadow: 1.2px 0.3px 19.5px rgba(0, 0, 0, 0.054), 3px 0.8px 58.3px rgba(0, 0, 0, 0.067), 5.4px 1.5px 80.6px rgba(0, 0, 0, 0.074), 9px 2.5px 93.5px rgba(0, 0, 0, 0.076), 14.1px 3.9px 101.4px rgba(0, 0, 0, 0.076), 22px 6.1px 106.3px rgba(0, 0, 0, 0.074), 36px 10px 109px rgba(0, 0, 0, 0.07);
          box-shadow: 1.2px 0.3px 19.5px rgba(0, 0, 0, 0.054), 3px 0.8px 58.3px rgba(0, 0, 0, 0.067), 5.4px 1.5px 80.6px rgba(0, 0, 0, 0.074), 9px 2.5px 93.5px rgba(0, 0, 0, 0.076), 14.1px 3.9px 101.4px rgba(0, 0, 0, 0.076), 22px 6.1px 106.3px rgba(0, 0, 0, 0.074), 36px 10px 109px rgba(0, 0, 0, 0.07);
}

/* ---------- CONTAINER ----------- */
#main .flex .container {
  display: inherit;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

/* ------------- IMG CONTAINER ---------- */
#main .flex .container .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  width: 100%;
  position: relative;
}

/*IMG*/
#main .flex .container .img-container > img {
  width: 100%;
}

/* ------------- DIV SPAN ----------------*/
#main .flex .container .img-container > .span {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1% 7%;
  background-color: #4d4d4d;
  color: #ffffff;
  font-size: 1.1em;
  /*ANIMATION*/
  position: absolute;
  height: 0;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/*LIKE*/
#main .flex .container .img-container > .span .like i {
  cursor: pointer;
}

/* -----------MAIN ANIMATIONS----------- */
/*HOVER ANIMATION*/
#main .flex .container .img-container:hover .span {
  height: 3em;
  opacity: .65;
}

/*LIKE ACTIVE*/
#main .flex .container .img-container .span > .like:active {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: #ff0000;
}

/*LIKE HOVER*/
#main .flex .container .img-container .span .like :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*-------FOOTER-------*/
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
  padding: 2% 0;
  background-color: #4d4d4d;
  color: #e3e0f3;
}

/*-------SOCIAL MEDIA-------*/
#footer .social-media {
  display: inherit;
  width: 50%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2% 0;
  padding: 0% 0;
}

/*-----UL-----*/
#footer .social-media > .social_ul {
  display: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  text-align: inherit;
  width: 100%;
}

#footer .social-media .social_ul > li {
  margin: 0;
  width: 100%;
  height: 0%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#footer .social-media .social_ul > li:hover {
  border-top: 1px solid #03a773;
  -webkit-box-shadow: 5px 5px 27px -8px rgba(3, 167, 115, 0.8) inset;
          box-shadow: 5px 5px 27px -8px rgba(3, 167, 115, 0.8) inset;
  height: 100%;
}

#footer .social-media .social_ul > li:active,
#footer .social-media .social_ul li > a:active {
  color: #09ce8f;
}

/*------ICON-----*/
#footer .social-media .social_ul li > i {
  margin-right: 5%;
  font-size: 1.2em;
  cursor: pointer;
}

/*----LINKS-----*/
#footer .social-media .social_ul li > a {
  color: #e3e0f3;
  font-size: 1.1em;
}

/*-------COPYRIGHT--------*/
#footer .copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 2% 0;
}

/* ------------ MEDIA QUERY ------------*/
@media (max-width: 900px) {
  #main .container .img_container {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
}

@media (max-width: 600px) {
  #main .container .img_container {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}
/*# sourceMappingURL=style.css.map */