/*------COLOR VARIABLES-----*/

$white: #ffffff;
$dark-grey: #3B3B3B;
$green: rgb(9, 206, 143);
$grey: rgb(227, 224, 243);
$value: #868686;
$violet: #9f69fe;
$dark-grey_b: rgba(59, 59, 59, .680);
$black: #1f1f1f;



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: $green;
}












/*------MY CSS-----*/

body {
    background: whitesmoke /*url(img/bg-gradient.png)*/; 
    background-size: cover;
    background-repeat: no-repeat;
    color: $dark-grey;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

ul, 
ol {
    list-style: none;
}

h2 {
  color: $black;
  font-size: 2em;
}

p {
  color: $black;
  font-size: 1.25em;
}





/*------HEADER------*/

#head {
    background-color: transparent;   
    padding: .3% 5%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}



#h1 {
    color: $black;
    margin: 0;
    font-size: 3em;
}


/*------HEAD-DIV_SEARCH------*/


#head .head-div_search {
  padding: 1.5% 3%;
  display: flex;
  min-width: 23%;
  text-align: center;
}


/*-------SEARCH-BUTTON-------*/

#head .head-div_search #search {
  background:linear-gradient(-45deg, #340194, $violet, $green);
  border: none;
  background-size: 800% 400%;
  padding: 4%;
  display: flex;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  transition: all .5s ease-in-out;
  margin-right: 3.5%;
  animation-name: gradient;
  animation-timing-function: cubic-bezier(.62, .28, .23, .99);
  animation-iteration-count: infinite;
  animation-duration: 10s;
  align-items: center;
  cursor: pointer;
}

#head .head-div_search #search:hover {
  animation: gradient 3s infinite;
  transform: scale(1.08);
 }

 button:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
 }
 
 @keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
 
  50% {
   background-position: 100% 50%;
  }
 
  100% {
   background-position: 0% 50%;
  }
 }



 /*------SEARCH_BAR-------*/

#head .head-div_search #searchbar {
  border: none;
  border-radius: 10px;
  padding-left: 4%;
  font-size: 1em;
  color: $value;
  background-color: $grey;
  appearance: none;
}




/*---------HEAD-DIV_MENU--------*/

#head .head-div_menu {
  display: flex;
  width: 28%;
  text-align: center;
}


/*------UL-----*/

#head .head-div_menu .menu {
  display: inherit;
  width: 100%;
  align-items: center;
  padding: 1%;
  justify-content: space-around;
}



/*------LI-----*/

#head .head-div_menu .menu li {
  padding: 1% 2%;
  border: 1px solid $grey;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#head .head-div_menu .menu li:hover {
  transform: scale(1.08);
  transition: 400ms;
  background: linear-gradient(-45deg, #340194, $violet, $green);
  border: none;
}

/*-----A-----*/

#head .head-div_menu .menu li a {
  color: $grey;
  font-size: 1.3em;
}








/*---------MAIN----------*/

#main {
  padding: 10% 0% 5% 0%;
  display: flex;
  flex-flow: row wrap;
  border: 2px solid green;
}


/*--------SECTION---------*/

#main .welcome {
  background: url(img/bg-gradient.png);
  background-size: cover;
  background-position: center center;
  outline: solid red;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  margin-bottom: 10%;
  padding: 10%;
}



/*-----FLEX_CONTAINER------*/

#main .container {
  display: inherit;
  height: 100%;
  flex-wrap: wrap;
  border: solid blue;
}

#main .container .img_container {
  flex: 25%;
  margin: .5%;
}


#main .container .img_container img {
  width: 100%;
}


@media (max-width: 900px) {
  #main .container .img_container {
    flex: 40%;
  }
}


@media (max-width: 600px){
  #main .container .img_container {
    flex: 100%;
  }
}