* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





/*------COLOR VARIABLES-----*/

$white: #ffffff;
$dark-grey: #3B3B3B;
$green: rgb(9, 206, 143);
$grey: rgb(227, 224, 243);
$value: #868686;
$violet: #9f69fe;
$dark-grey_b: rgba(59, 59, 59, .680);







/*------MY CSS-----*/

body {
    background: url(img/bg-gradient.png); 
    background-size: cover;
    background-repeat: no-repeat;
    color: $dark-grey;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

ul, 
ol {
    list-style: none;
}




/*------HEADER------*/

#head {
    background-color: transparent;   
    padding: .3% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}




#h1 {
    color: $grey;
    margin: 0;
    font-size: 3em;
}


/*------HEAD-DIV_SEARCH------*/


#head .head-div_search {
  padding: 1.5% 3%;
  display: flex;
  min-width: 23%;
  text-align: center;
}


/*-------SEARCH-BUTTON-------*/

#head .head-div_search #search {
  background:linear-gradient(-45deg, #340194, $violet, $green);
  border: none;
  background-size: 800% 400%;
  padding: 4%;
  display: flex;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  transition: all .5s ease-in-out;
  margin-right: 3.5%;
  animation-name: gradient;
  animation-timing-function: cubic-bezier(.62, .28, .23, .99);
  animation-iteration-count: infinite;
  animation-duration: 10s;
  align-items: center;
  cursor: pointer;
}

#head .head-div_search #search:hover {
  animation: gradient 3s infinite;
  transform: scale(1.08);
 }

 button:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
 }
 
 @keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
 
  50% {
   background-position: 100% 50%;
  }
 
  100% {
   background-position: 0% 50%;
  }
 }



 /*------SEARCH_BAR-------*/

#head .head-div_search #searchbar {
  border: none;
  border-radius: 10px;
  padding-left: 4%;
  font-size: 1em;
  color: $value;
  background-color: $grey;
  appearance: none;
}




/*---------HEAD-DIV_MENU--------*/

#head .head-div_menu {
  display: flex;
  width: 28%;
  text-align: center;
}


/*------UL-----*/

#head .head-div_menu .menu {
  display: inherit;
  width: 100%;
  align-items: center;
  padding: 1%;
  justify-content: space-around;
}



/*------LI-----*/

#head .head-div_menu .menu li {
  padding: 1% 2%;
  border: 1px solid $grey;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#head .head-div_menu .menu li:hover {
  transform: scale(1.08);
  transition: 400ms;
  background: linear-gradient(-45deg, #340194, $violet, $green);
  border: none;
}

/*-----A-----*/

#head .head-div_menu .menu li a {
  color: $grey;
  font-size: 1.3em;
}








/*---------MAIN----------*/

#main {
  padding: 25% 5% 5% 5%;
  display: flex;
  outline: 10px solid red;
}




/*-----FLEX_CONTAINER------*/

#main .container {
  display: inherit;
  height: 100%;
  align-items: flex-start;
  flex-flow: row wrap;
}


/*--------IMG_CONTAINER-------*/

#main .container .div_img {
  display: flex;
  width: 40%;
  height: 100%;
  border: 1px solid rgb(20, 20, 20);
  position: relative;
}


#main .container .div_img img {
  width: 100%;
  image-rendering: optimizeQuality;
  cursor: pointer;
}


/*-----------SPAN-------*/

#main .container .div_img .title {
  display: flex;
  position: absolute;
  background-color: $dark-grey_b;
  color: $grey;
  width: 100%;
  height: 9%;
  bottom: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold; 
  visibility: hidden;
  margin-bottom: -3%;
  transition: 0.2s ease-in-out;
  transition-delay: 0s;
}

#main .container .div_img:hover .title {
  visibility: visible;
  margin: 0;
  opacity: .77;
  text-shadow:
  3.5px 3.5px 8.2px rgba(227, 224, 243, 0.038),
  9.8px 9.8px 22.5px rgba(227, 224, 243, 0.055),
  23.5px 23.5px 54.3px rgba(227, 224, 243, 0.072),
  78px 78px 180px rgba(227, 224, 243, 0.11)
;
;
} 

