@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600;700&display=swap');

/*------COLOR VARIABLES-----*/

$white: #ffffff;
$dark-grey: #3B3B3B;
$green: #09ce8f;
$grey: rgb(227, 224, 243);
$value: #868686;
$violet: #9f69fe;
$dark-grey_b: rgb(77, 77, 77);
$dark-green: #03a773;
$dark-green_ins: rgba(3, 167, 115, .8);
$black: #1f1f1f;
$red-like: #ff0000;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: $green;
}












/*------MY CSS-----*/

body {
    background: whitesmoke /*url(img/bg-gradient.png)*/; 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: $dark-grey;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

ul, 
ol {
    list-style: none;
}

h2 {
  color: $black;
  font-size: 2.5em;
}

p {
  color: $black;
  font-size: 1.25em;
}





/*------HEADER------*/

#head {
    background-color: $dark-green;   
    padding: .3% 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*position: fixed;
    top: 0;
    left: 0;
    z-index: 1;*/
}



#h1 {
    color: $grey;
    margin: 0;
    font-size: 3em;
}


/*------HEAD-DIV_SEARCH------*/


#head .head-div_search {
  padding: 1.5% 3%;
  display: flex;
  min-width: 23%;
  text-align: center;
}


/*-------SEARCH-BUTTON-------*/

#head .head-div_search #search {
  background:linear-gradient(-45deg, #340194, $violet, $green);
  border: none;
  background-size: 800% 400%;
  padding: 4%;
  display: flex;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  margin-right: 3.5%;
  transition: all .5s ease-in-out;
  animation-name: gradient;
  animation-timing-function: cubic-bezier(.62, .28, .23, .99);
  animation-iteration-count: infinite;
  animation-duration: 10s;
  align-items: center;
  cursor: pointer;
}

#head .head-div_search #search:hover {
  animation: gradient 3s infinite;
  transform: scale(1.08);
 }

 button:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
 }
 
 @keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
 
  50% {
   background-position: 100% 50%;
  }
 
  100% {
   background-position: 0% 50%;
  }
 }



 /*------SEARCH_BAR-------*/

#head .head-div_search #searchbar {
  border: none;
  border-radius: 10px;
  padding-left: 4%;
  font-size: 1em;
  color: $value;
  background-color: $grey;
  appearance: none;
}




/*---------HEAD-DIV_MENU--------*/

#head .head-div_menu {
  display: flex;
  width: 28%;
  text-align: center;
}


/*------UL-----*/

#head .head-div_menu .menu {
  display: inherit;
  width: 100%;
  align-items: center;
  padding: 1%;
  justify-content: space-around;
}



/*------LI-----*/

#head .head-div_menu .menu li {
  padding: 1% 2%;
  border: 1px solid $grey;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all .4s ease-in-out;
}

#head .head-div_menu .menu li:hover {
  transform: scale(1.08);
  transition: 400ms;
  background: linear-gradient(-45deg, #340194, $violet, $green);
  border: none;
}

/*-----A-----*/

#head .head-div_menu .menu li a {
  color: $grey;
  font-size: 1.15em;
}









/* ------------ SING IN POP UP -----------*/

/*Background Gradient*/


#blur {
  /*display: none;*/
  background-color: rgba(0, 0, 0, 0.67);

  color: transparent;

  height: 101%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


/*Pop Up*/


#signin_popup {
  display: flex;
  /*display: none;*/
  justify-content: center;
  margin-top: 2%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding-top: 3%;

  
}


/*Popup Container*/
#signin_popup .popup_container {
  background: linear-gradient(-45deg, #340194, $violet, $green);
  border-radius: 5%;
  box-shadow:
  2.3px 1.6px 1.9px rgba(0, 0, 0, 0.031),
  5.3px 3.8px 4.3px rgba(0, 0, 0, 0.045),
  9.5px 6.9px 7.7px rgba(0, 0, 0, 0.055),
  15.7px 11.4px 12.8px rgba(0, 0, 0, 0.065),
  25.9px 18.8px 21.2px rgba(0, 0, 0, 0.075),
  45.3px 32.8px 37px rgba(0, 0, 0, 0.089),
  98px 71px 80px rgba(0, 0, 0, 0.12)
;



  height: 70%;
  width: 35%;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


/*Popup Header*/
#signin_popup .popup_container h3 {
  color: $white;
  font-size: 2em;
  margin-bottom: 1%;
}




/*FORM*/


#signin_popup .popup_container .popup_form{
  border: solid green;
  width: 70%;
  margin-bottom: 4%;
}

/*Labels*/
#signin_popup .popup_container .popup_form label {
  font-size: 1.2em;
  margin-right: 2%;
  color: $dark-grey;
}

/*Inputs*/
#signin_popup .popup_container .popup_form input {
  border: 1px solid $white;
  color: $dark-grey;
  font-weight: bold;
  padding: 1.5%;
  border-radius: 10px;
  background-color: $grey;
}











/*---------MAIN----------*/

#main {
  /*padding: 0% 0% 5% 0%;*/
  display: flex;
  flex-flow: row wrap;
  /* border: 2px solid green;*/
}


/*--------SECTION---------*/

#main .welcome {
  background-color: $dark-green;  
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  position: relative;
}


#main .welcome h2 {
  margin-top: 5%;
}

#main .welcome h2,
#main .welcome p {
  /*outline: solid green;*/
  color: $grey;
  z-index: 1;
}



#main .welcome svg {
  position: absolute;
  bottom: 0;
}





/* ---------- DIV-FLEX ----------- */

#main .flex {
  display: flex;
  width: 95%;
  height: 100%;
  margin: auto;
  padding: .15%;
  

  box-shadow:
    1.2px 0.3px 19.5px rgba(0, 0, 0, 0.054),
    3px 0.8px 58.3px rgba(0, 0, 0, 0.067),
    5.4px 1.5px 80.6px rgba(0, 0, 0, 0.074),
    9px 2.5px 93.5px rgba(0, 0, 0, 0.076),
    14.1px 3.9px 101.4px rgba(0, 0, 0, 0.076),
    22px 6.1px 106.3px rgba(0, 0, 0, 0.074),
    36px 10px 109px rgba(0, 0, 0, 0.07);
}


/* ---------- CONTAINER ----------- */

#main .flex .container {
  display: inherit;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

}





/* ------------- IMG CONTAINER ---------- */

#main .flex .container .img-container {
  display: flex;
  flex: 30%;
  width: 100%;

  position: relative;
}

/*IMG*/

#main .flex .container .img-container>img {
  width: 100%;
}




/* ------------- DIV SPAN ----------------*/


#main .flex .container .img-container>.span {
  display: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1% 7%;

  background-color: $dark-grey_b;
  color: $white;
  font-size: 1.1em;

  /*ANIMATION*/
  position: absolute;
  height: 0;
  opacity: 0;
  transition: all .5s ease;


}


/*LIKE*/

#main .flex .container .img-container>.span .like i {
  cursor: pointer;
}









/* -----------MAIN ANIMATIONS----------- */

/*HOVER ANIMATION*/

#main .flex .container .img-container:hover .span {
  height: 3em;
  opacity: .65;
}



/*LIKE ACTIVE*/
#main .flex .container .img-container .span>.like:active {
  transform: scale(1.4);
  color: $red-like;
}


/*LIKE HOVER*/
#main .flex .container .img-container .span .like :hover {
  transform: scale(1.2);
}


/*-------FOOTER-------*/

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  padding: 2% 0;
  background-color: $dark-grey_b;
  color: $grey;
}




/*-------SOCIAL MEDIA-------*/

#footer .social-media {
  display: inherit;
  width: 50%;
  text-align: center;
  justify-content: center;
  margin: 2% 0;
  padding: 0% 0;
}


/*-----UL-----*/

#footer .social-media>.social_ul {
  display: inherit;
  justify-content: inherit;
  text-align: inherit;
  width: 100%;
}

#footer .social-media .social_ul>li {
  margin: 0;
  width: 100%;
  height: 0%;
  transition: all .3s ease-in-out;

}

#footer .social-media .social_ul>li:hover {
  border-top: 1px solid $dark-green;
  box-shadow: 5px 5px 27px -8px $dark-green_ins inset;
  height: 100%;

}

#footer .social-media .social_ul>li:active,
#footer .social-media .social_ul li>a:active {
  color: $green;
}

/*------ICON-----*/

#footer .social-media .social_ul li>i {
  margin-right: 5%;
  font-size: 1.2em;
  cursor: pointer;
}





/*----LINKS-----*/

#footer .social-media .social_ul li>a {
  color: $grey;
  font-size: 1.1em;
}


/*-------COPYRIGHT--------*/
#footer .copyright {
  display: inline-block;
  width: 100%;
  text-align: center; 
  padding: 2% 0;
}




























/* ------------ MEDIA QUERY ------------*/








@media (max-width: 900px) {
  #main .container .img_container {
    flex: 40%;
  }
}


@media (max-width: 600px){
  #main .container .img_container {
    flex: 100%;
  }
}