* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





/*------COLOR VARIABLES-----*/

$white: #ffffff;
$dark-grey: #3B3B3B;
$green: #09cc8e;
$grey: #E3E0F3;
$value: #868686;





/*------COLOR_GRADIENTS-------*/

$violet: #9f69fe;





/*------MY CSS-----*/

body {
    background: url(img/bg-gradient.png); 
    background-size: cover;
    background-repeat: no-repeat;
    color: $dark-grey;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

ul, 
ol {
    list-style: none;
}




/*------HEADER------*/

#head {
    background-color: transparent;   
    padding: .3% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




#h1 {
    color: $grey;
    margin: 0;
    font-size: 3em;
}


/*------HEAD-DIV_SEARCH------*/


#head .head-div_search {
  padding: 1.5% 3%;
  display: flex;
  min-width: 23%;
  text-align: center;
}


/*-------SEARCH-BUTTON-------*/

#head .head-div_search #search {
  background:linear-gradient(-45deg, #340194, $violet, $green);
  border: none;
  background-size: 800% 400%;
  padding: 4%;
  display: flex;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  transition: all .5s ease-in-out;
  margin-right: 3.5%;
  animation-name: gradient;
  animation-timing-function: cubic-bezier(.62, .28, .23, .99);
  animation-iteration-count: infinite;
  animation-duration: 10s;
  align-items: center;
}

#head .head-div_search #search:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
 }

 button:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
 }
 
 @keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
 
  50% {
   background-position: 100% 50%;
  }
 
  100% {
   background-position: 0% 50%;
  }
 }



 /*------SEARCH_BAR-------*/

#head .head-div_search #searchbar {
  border: none;
  border-radius: 10px;
  padding-left: 4%;
  font-size: 1em;
  color: $value;
  background-color: $grey;
  appearance: none;
}




/*---------HEAD-DIV_MENU--------*/

#head .head-div_menu {
  display: flex;
  width: 28%;
  text-align: center;
}


/*------UL-----*/

#head .head-div_menu .menu {
  display: inherit;
  width: 100%;
  align-items: center;
  padding: 1%;
  justify-content: space-around;
}



/*------LI-----*/

#head .head-div_menu .menu li {
  padding: 1% 2%;
  border: 1px solid $grey;
  border-radius: 5px;
}

#head .head-div_menu .menu li:hover {
  transform: scale(1.08);
  transition: 700ms;
  background: linear-gradient(-45deg, #340194, $violet, $green);
  border: none;
}

/*-----A-----*/

#head .head-div_menu .menu li a {
  color: $grey;
  font-size: 1.3em;
}

#head .head-div_menu .menu li a:hover {
  font-weight: bold;
}